/* Index */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tektur', cursive;
}

.game-board {
    background-image: url('./img/roque.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 20px auto;
    width: 920px;
    height: 480px;
    overflow: hidden;
}

#gofito {
    background-image: url('./img/gofito-walking.gif');
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 100px;
    position: absolute;
}

.tunera {
    background-image: url('./img/tunera.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 65px;
    height: 95px;
}

#floor {
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('./img/floor.png') repeat-x 0px 0px;
    background-size: 50% 42px;
    background-repeat: repeat-x;
}


.pintadera {
    position: absolute;
    background-image: url('./img/pintadera.gif');
    background-size: contain;
    width: 150px;
    height: 150px;
    z-index: 2;
    /* background-color: rgb(224, 91, 242); */
}


/* Main screen */


.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 920px;
    height: 480px;
    background-image: url('./img/island.png');
    background-size: cover;
}

.main-screen{
    display: flex;
    justify-content: space-around;
}

#content {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;

}

#content article{
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-right: 50px;
    padding: 40px;
}

#content img{
    margin-left: 50px;
}

#content footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
}

/* .main-screen {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
 */


button {
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #e6ad57;
    color: white;
}

.hidden {
    display: none;
}

/* Win screen */


#screen-4.wrapper:not(.hidden) {
    display: flex;
    justify-content: space-evenly;
}

#screen-4.wrapper:not(.hidden) header {
    margin-top: 30px;
}