*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    margin: 20px auto;
    width:920px;
    height: 380px;
    background-color: #a9a5a5;
    overflow: hidden;
}

#gofito{
    position: absolute;
    width: 84px;
    height: 84px;
    background-color: chocolate;
}

.aloe{
    position: absolute;
    width: 74px;
    height: 74px;
    background-color:darkseagreen;
}